<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width-device-width, initial-scale-1.0">

    <!---->
    <link href="{{ url_for('static', filename='style/all.css') }}" integrity="sha384-SZXXXh379/gErwcOvf+zLeJdy/apuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/ionicons.js') }}"></script>

    <link href="{{ url_for('static', filename='style/style_donate.css') }}" rel="stylesheet">

    <title>Donation</title>
</head>

<body>
    <div id="header1">
        <img src = "{{ url_for('static', filename='imgs/LOGO.jpg'  ) }}" alt="logo" id="logo1">
        <div id="icon-links">
            <ul id="links_header" type="none">
                <li>
                    
                    <a href="{{ url_for('index') }}"><img src = "{{ url_for('static', filename='imgs/home.png' ) }}" class="icon" /> <span>HOME</span></a>
               
                    
                </li>
                <li>
                    <a href="{{ url_for('about') }}"><img src = "{{ url_for('static', filename='imgs/about.png' ) }}" class="icon" /><span>ABOUT</span></a>
                
                </li>
                <li>
                    <a href="{{ url_for('patient_care') }}"><img src = "{{ url_for('static', filename='imgs/pcs.jpg' ) }}" class="icon" /><span>PATIENT CARE AND SERVICE</span></a>
                
                </li>
                <li>
                    <a href="{{ url_for('specialist') }}"><img src = "{{ url_for('static', filename='imgs/specialist.jpg' ) }}" class="icon" /><span>SPECIALISTS</span></a>
                </li>
                <li>
                    <a href="{{ url_for('opd') }}"><img src = "{{ url_for('static', filename='imgs/opd.png' ) }}" class="icon" /><span>OUT PATIENT DEPARTMENT</span></a>
                </li>
                <li>
                    <a href="{{ url_for('faq') }}"><img src = "{{ url_for('static', filename='imgs/faq.png' ) }}" class="icon" /><span>FEEDBACK AND QUERY</span></a>
                </li>
                <li>
                    <a href="{{ url_for('career') }}"><img src = "{{ url_for('static', filename='imgs/career.png' ) }}" class="icon" /><span>CAREER</span></a>
                </li>
                <li>
                    <a href="{{ url_for('donation') }}"><img src = "{{ url_for('static', filename='imgs/donation.png' ) }}" class="icon" /><span>DONATION</span></a>
                
                </li>
                <li>
                    <a href="{{ url_for('contact') }}"><img src = "{{ url_for('static', filename='imgs/contact.png' ) }}" class="icon" /><span>CONTACT US</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="about">

        <div class="imgcontanner">
            <div class="aboutimg"></div>

        </div>

        <div class="aboutcontent">

            <h5>_</h5>

            <h1>Why Donate?</h1>

            <p> Bravins Maternity and Rescue Centre seeks to provide a solution through construction of a maternal home that will focus solely on nursing rescued girls and mothers, and their newborns.</p>
            <p> Bravins Maternity and Rescue Centre will offer maternity care to pregnant girls and women and accommodate those who will be rescued from the pains of their stand for life.</p>

            
                <a href="{{ url_for('Donate_Mpesa') }}"><span>DONATE</span></a>
                

            <br>

            <br>

            <h5>_</h5>

        </div>

    </div>
    <footer>
        <small>
            <img src = "{{ url_for('static', filename='imgs/LOGO.jpg'  ) }}" alt="logo" id="logo1">
            
            Copyright &copy Bravins Maternity and Rescue Center &nbsp; &nbsp;</small>
    </footer>
</body>

</html>